.submition-pop-up-work {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 40%;
    height: 50vh;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  .submition-pop-up-work input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgb(211, 208, 208);
    border-radius: 20px;
    width: 27vw;
    height: 10%;
    margin-top: 2vh auto;
    font-family: 'Kumbh Sans', sans-serif;
    color: black;
    
  }
  
  
  
  .submition-pop-up-work h2{
    background-color: transparent;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    margin-right: 60%;
    font-size: 200%;
    font-weight: 200%;
  }

  .circle {
    width: 4vw;
    height: 3vh;
    border-radius: 50%;
    background-color: grey;
    margin-left: 1vw;
  }
  
  .input-circle{
    display: flex;
  }
  
  .span{
    flex-direction: column;
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 5%;
    font-family: 'Kumbh Sans', sans-serif;

  }
  
  .span-text{
    margin-left: 1%;
    width: 100%;
  }
