.submition-pop-up-work {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 40%;
    height: 50vh;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  .evaluation-textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgb(211, 208, 208);
    border-radius: 20px;
    width: 27vw;
    height: 10%;
    margin-top: 2vh auto;
    font-family: 'Kumbh Sans', sans-serif;
    color: black;
    
  }
  
  
  
  .submition-pop-up-work h2{
    background-color: transparent;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    margin-right: 60%;
    font-size: 200%;
    font-weight: 200%;
  }

  .circle {
    width: 4vw;
    height: 3vh;
    border-radius: 50%;
    background-color: grey;
    margin-left: 1vw;
  }
  
  .input-circle{
    display: flex;
  }
  
  .spane{
    margin-left: 0%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
  }



  
  .span-text{
    margin-left: 1%;
    width: 100%;
  }

  .files{
    height: 5vh;
  }

  .input-link{
    height: 5vh;
    margin-right: 1vw;

  }
  .spane input{
    height: 5vh;
    margin-left: 0vw;
    right: 100vw;
    width: 100vw;
    top:0vh;
    margin-top: 12%;
  }

  
/* Add hover effect for the buttons */
.span-text {
  /* Your existing button styles */
  background-color: transparent; /* Set the initial background color */
  border-radius: 20%;
  cursor: pointer;
  /* Other button styles */

  /* Add transition for a smooth effect */
  transition: background-color 0.3s ease;
}

/* Define hover effect for the buttons */
.span-text:hover {
  background-color: lightgray; /* Change to the desired hover color */
}