.action-item {
    background-color: #CACFD2;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.date {
    flex: 1;
    font-weight: 500;
    color: #333;
    font-family: 'Kumbh Sans';
}

.status {
    flex: 2;
    padding: 7px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.status.accepté {
    background-color: #d4edda; 
    color: #155724;
}

.status.refusé {
    background-color: #f8d7da;
    color: #721c24;
}

.container {
    display:flex;
    height: 97vh;
}

.prerogatives {
    padding: 0.1%;
    justify-content: flex-start;
    width: 100%;
    background-color: #B7D6ED;
    height: 97vh;

}

.actions {
    display: flex;
    justify-content: space-between;
    border: none; 
    position: relative;
    background-color: white;
    height: 60vh;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 1.5vh;
}


.execution-board {
    position: relative;
    width: 95vh;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 1vh;
    margin-left: 15vw;
  
  }


