.message.bubble {
    background-color: #5CB7BB66;
    border-radius: 15px;
    margin-bottom: 0vh;
    margin-top: 1.6vh;
    padding: 15px;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.3vw ;
    flex-direction: column;
}

.first{
    display: flex;
    height: 18.5vh;
}


.first-row{
    display: flex;
    margin-left: -2vw;
    justify-content: space-between; 
}
.exe-description{
    height: 24vh;
    margin-right: 1%;
    margin-left: 3%;
    width: 50vw;
}

.description-diopage{
    background-color:  #474E5426; 
    border-radius: 15px; 
    margin-bottom: 1vh;
    margin-top: 0vh; 
    padding: 3%; 
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 90% ;
    width: 40vw;
    height: 7vh;
    margin-left: 0%;
    overflow: hidden;
    margin-left: 0%;
}

.score{
    height: 4vh;
    margin-top: 0vh;
    font-size: 90% ;
}


.right{
    margin-right: 0%;
    margin-left: 8%;
    height: 24vh;
    justify-content: center;
    align-items: center;
}

.profile{
    height: 7vh;
    margin-bottom: 0.2vh;
    margin-top: 0.2vh;
    margin-left: 8vw;
    justify-content: center;
    align-items: center;
}


.name{
    font-size: 90%;
    height: 2.8vh;
    margin-right: 0%;
    margin-top: 1vh;
    width: 17vw;
    justify-content: center;
    display: flex;
    background-color: #5CB7BB66;
    border-radius: 15px; 
    margin-bottom: 1vh; 
    padding: 10px;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    margin-left: 5%;
    white-space: nowrap;
    align-items: center;
}

.thanks-score{
    margin-top: 2vh;
    margin-left: 15%;
    height: 4vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.thanks-score p{
    justify-content: center;
    align-items: center;
    display: flex;
}


.creator{
    background-color: #5CB7BB66;
    border-radius: 15px; 
    margin-bottom: 1vh; 
    padding: 10px;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 80%;
    display: flex;
    margin-left: 5%;
    width: 15vw;
    white-space: nowrap;
    align-items: center; 
}
.statut{
    background-color: #5CB7BB66;
    border-radius: 15px; 
    margin-bottom: 1vh; 
    padding: 10px;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 80%;
    display: flex;
    justify-content: space-between; 
    height: 3vh;
    width: 10vw;
    justify-content: center;
    align-items: center;
}
.count-down{
    background-color: #5CB7BB66;
    border-radius: 15px; 
    margin-bottom: 1vh;
    padding: 10px;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 80%;
    display: flex;
    justify-content: space-between; 
    height: 3vh;
    width: 10vw;
    justify-content: center;
    align-items: center;
    margin-right:-1vw ;
}

.review{
    margin-left: 73.5%;
    font-size: 70%;
    background-color:  #00000026; 
    border-radius: 2vh;
    border: 0.5vh solid transparent;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}
.review:hover{
    background-color:  transparent;
    cursor: pointer;
}

.add-first{
    display: flex;
    font-size: 90%;
    margin-top: 3vh;
}

.method{
    font-size: 80%;
    background-color:  #474E5426; 
    border-radius: 15px;
    margin-bottom: 1vh;
    padding: 2%; 
}

.doc{
    font-size: 80%;
    background-color:  #474E5426;
    border-radius: 15px;
    margin-bottom: 1vh;
    padding: 2%; 
    margin-left: 1%;
    width: 10vw;
    flex-direction: column;
}


.right-second{
    display: flex;
    font-size: 90%;
    width: 100%;
}

.second-row{
    display: flex;
    font-size: 90%;
}

.comments {
    font-size: 80%;
    background-color: #474E5426;
    border-radius: 15px;
    margin-bottom: 1vh;
    margin-top: 0vh;
    padding: 2%;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    width: 32.5vw;
    margin-left: 0%;
    align-items: center; 
}

.ceo_comments {
    font-size: 70%;
    background-color: #474E5426;
    border-radius: 15px;
    margin-bottom: 1vh;
    margin-top: 0vh;
    padding: 2%;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    width: 65%;
    margin-left: 0%;
}

.auto-eval {
    font-size: 85%;
    background-color: #474E5426;
    border-radius: 10px;
    margin-bottom: 1vh;
    margin-left: 1%;
    padding: 1%;
    width: 100%;
    flex-direction: flex;
}

.ceo-eval {
    font-size: 75%;
    background-color: #474E5426;
    border-radius: 10px;
    margin-bottom: 1vh;
    margin-left: 1%;
    padding: 1%;
    width: 35%;
    flex-direction: flex;
}

.dif-rea {
    display: flex;
}

.peerExpectation {
    flex-direction: column;
}

.meet-dead {
    font-size: 90%;
    background-color: #474E5426;
    border-radius: 15px;
    margin-bottom: 1vh;
    margin-left: 2%;
    padding: 2%;
}

.add-second {
    display: flex;

}

.peer-review {
    font-size: 70%;
    background-color: #474E5426;
    border-radius: 15px;
    margin-bottom: 1vh;
    margin-top: 0vh;
    padding: 2%;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    width: 40vw;
    margin-left: 0%;
}

.peer_review_eva {
    flex-direction: column;
    width: 35%;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.5%;
    border-radius: 15px;
    margin-bottom: 1vh;
}

.peer_review_comment {
    flex-direction: column;
    width: 63%;
    padding: 0.5%;
    margin-right: 1%;
    border-radius: 15px;
    margin-bottom: 1vh;
}

.comments-peer {
    font-size: 70%;
    background-color: #474E5426;
    border-radius: 15px;
    margin-bottom: 2vh;
    margin-top: 0vh;
    padding: 2%;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
    margin-left: 0%;
}

.eval-peer {
    font-size: 75%;
    background-color: #474E5426;
    border-radius: 10px;
    margin-bottom: 2vh;
    margin-left: 1%;
    padding: 2%;
    width: 100%;
    flex-direction: flex;
}

.plus{
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}    
