button {
    padding: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.month-selector {
    margin-left: 10px;
    padding: 10px;
    font-size: 14px;
    padding-bottom: 10px;
    height: 40px;
}