
.container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%; 
    height: 98vh;
    font-family: 'Kumbh Sans';
}

.ceo-profile {
    padding: 20px;
    justify-content: flex-start;
    flex-grow: 1;
    width: 70%;
    background-color: #B7D6ED;
    height: 93vh;
    font-family: 'Kumbh Sans';
    
}

.tasks-container {
    display: flex;
    justify-content: space-between;
    border: none;
    position: relative;
    height: 80vh;
    background-color: white;
    margin: 30px;

}

.tasks {
    width: 50%; 
}

.task {
    background-color: lightblue;
    padding: 2px;
    margin: 20px;
    border-radius: 5px;
}

.finished .task {
    background-color: lightblue;
}

.in-progress {
    border-right: 1px solid black;
}


h2 {
    color: white;
    background-color: darkblue; 
    margin: 0px; 
    padding: 5px; 
    height: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
    text-align: center;
    color:#082247;
    font-size: xx-large;
}

.fini { 
    background-color: rgba(11, 42, 135, 0.58);
}

.accept-button {
    background-color: green;
    color: black;
    border:1px solid black;
    cursor: pointer; 
    border-radius: 40px;
 
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 13px; 
    margin: 5px;
    font-family: 'Kumbh Sans';
}

.refuse-button {
    background-color: red;
    color: black;
    border:1px solid black;
    cursor: pointer;
    border-radius: 40px; 
 
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 18px; 
    margin: 5px;
    font-family: 'Kumbh Sans';
}

.action-button {
    background-color: rgba(255, 255, 0, 0.237);
    color: black;
    border:none;
    cursor: pointer; 
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 15px; 
    margin: 5px;
}

.buttons-container {
    position: relative;
    bottom: 0px;
    left: 170px;
    display: flex;
    gap: 10px; 
}

.task1 {
    background-color: lightblue;
    padding: 2px;
    margin: 20px;
    border-radius: 5px;
    display: flex;  
    justify-content: space-between; 
    align-items: center; 
}

.statuss {
    display:inline-block;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: #B9B9B9;
    font-family:'Kumbh Sans';
    margin-right: 10px;
}
