.App {
  display: flex;
  height: 832px;
}

.main-content {
  flex-grow: 1;
  background-color: #b7d6ed;
  width: 70%;
}

.logo-bar {
  text-align: center;
  margin: 0px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  font-family: "Kumbh Sans", sans-serif;
  width: 700px;
  height: 150px;
}

.titre {
  font-size: 2vw;
  text-align: left;
  margin-left: 6vw;
  color: #305E7E;
  border-bottom: 1px solid white;
  padding-bottom: 1vh;
  margin-bottom: 5vh;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 510;
}

.diolist {
  font-size: 10vw;
}

.wallet {
  font-size: 28px;
  text-align: left;
  margin-left: 60px;
  color: #305E7E;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 510;
  margin-top: 90px;
}

.DIOList-container {
  margin-left: 20px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.DIO-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.diolist-container {
  max-height: 420px;
  overflow-y: auto;
  margin-bottom: 1vh;
}
