.loginA{
    background-color:  #B7D6ED;
    font-family: "Kumbh Sans";
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: 'flex';
    flex-direction: 'column';
}

.loginB{

    width: 100%;
    height: 95vh;
}


.logo{
    width: 100%;
    height: 40%;
    justify-content: center;
    margin-top: 10%;
}

.login{
    background-color:  white;
    width: 18%;
    height: 8%;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 40%;
    border-radius: 20px;
    font-family: "Kumbh Sans";
}

.login:hover{
    background-color:  gray;
}

.deconnexion{
    background-color:  white;
    width: 25%;
    height: 20%;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 0%;
    border-radius: 20px;
    font-family: "Kumbh Sans";
    margin-top: 60%;
    padding: 5%;
    display: flex;
}

.deconnexion:hover{
    background-color:  gray;
}
