
.login-container {
  border-radius: 15px;
  padding: 2vh;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  height: 100vh;
  /* width: ; */
  /* max-width: 600px; */
  /* margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px; */
  /* background-color: #f9f9f9; */
  float: none;
  flex-grow: 100;
  display: 'flex';
  flex-direction: 'column';
}

.forme{
  height: 60vh;
  margin-top: 10%;
}

.form-group {
  margin: 1vh;
}

.form-group label {
  display: block;
  color: black;
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 25%;
  font-family: "Kumbh Sans";
}

.form-group input {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: #333;
  outline: none;
  height: 4vh;
}

.p{
  height: 10vh;
}

.form-group input[type="email"] {
  /* Ajoutez des styles spécifiques pour le champ email */
  position: absolute;
  width: 20vw;
  top: 50vh; left: 70vw;
}

.form-group input[type="password"] {
  /* Ajoutez des styles spécifiques pour le champ mot de passe */
  position: absolute;
  width: 20vw;
  top: 62vh; left: 70vw;
}
.MailAdress {
  color: #ddd;
  position: absolute;
  top: 44vh; left: 70vw;
}
.Password {
  color: #ddd;
  position: absolute;
  top: 56vh; left: 70vw;
}

.buttonLogin {
  background: transparent;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:  0.3s;
  background-color: #85c2d3;
  border-radius: 20px;
  background: rgba(110, 228, 244, 0.8);
  font-size: 3vh;
  margin: -170px;
  position: absolute;
  top: 102vh; left: 85vw;
}

.buttonLogin:hover,
.buttonLogin:active {
  background-color: #85c2d3;
  border-radius: 20px;
  background: rgba(110, 228, 244, 0.8);
  font-size: 20px;
}

.message {
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 10px;
}

.link {
  color: #6b47ff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.user-details {
  font-family: Arial, sans-serif;
  /* width: ; */
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  float: none;
  overflow: scroll;
  overflow-x: hidden;
  flex-grow: 100;
}

.user-details h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-details ol {
  list-style: none;
  padding: 0;
}

.user-details li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-details li:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}
.account .empower-text,
.account .TheWork-text {
  margin: 2vh; /* Ajoute une marge autour du texte */
  color: rgb(247, 247, 247); /* Couleur du texte */
  font-family: Arial, sans-serif; /* Police de caractères */
  text-align: center; /* Aligner le texte à gauche */
  justify-self: auto;
}

.account .empower-text {
  font-size: 7vh; /* Taille de la police pour empower-text */
  position: absolute;
  top: 30vh; left: 4vw;
}

.account .TheWork-text {
  font-size: 4vh; 
  position: absolute;
  top: 60vh; left: 10vw;
}
.Exclusively {
  font-size: 4vh; 
  color: aqua;
  position: absolute;
  top: 80vh; left: 25vw;
}
.ByMKIF {
  font-size: 4.5vh; 
  color: rgb(138, 172, 235);
  position: absolute;
  top: 16vh; left: 3vw;
}
.AlreadyMember {
  font-size: 4vh; 
  color: aqua;
  position: absolute;
  top: 30vh; left: 70vw;
}
.Thanks-text {
  font-size: 12vh; 
  color: #91cad9;
  position: absolute;
  top: -5vh; left: 2vw;
}
.background-image {
  background-image: url(../images/Image2.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}