.signup-container {
    background: #b7d6ed; /* Dégradé de couleurs */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    height: 100vh;
    /* width: ; */
    /* max-width: 600px; */
    /* margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; */
    /* background-color: #f9f9f9; */
    float: none;
    flex-grow: 100;
    display: 'flex';
    flex-direction: 'column';
  }
  
  .image{
    width: 10%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
  }
  .image .logo{
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    width: 100vh;
    height: 20vh;
  }
  .forme{
    height: 60vh;
    margin-top: 10%;
  }
  
  .form-group-signup {
    margin: 15px;
  }
  
  .form-group-signup label {
    display: block;
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 25%;
    font-family: "Kumbh Sans";
  }
  
  .form-group-signup input {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    color: #333;
    outline: none;
    height: 4vh;
  }
  .form-group-signup label {
    margin-left: 10%;
  }
  
  .p{
    height: 10vh;
  }
  
  .form-group-signup input[type="email"] {
    /* Ajoutez des styles spécifiques pour le champ email */
  }
  
  .form-group-signup input[type="password"] {
    /* Ajoutez des styles spécifiques pour le champ mot de passe */
  }
  
  .sinscrire {
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
    transition:  0.3s;
  }
  
  .sinscrire:hover {
    background: transparent;
  }
  
  .message {
    color: #ff6b6b;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .link {
    color: #6b47ff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .user-details {
    font-family: Arial, sans-serif;
    /* width: ; */
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    float: none;
    overflow: scroll;
    overflow-x: hidden;
    flex-grow: 100;
  }
  
