.better{
    margin-top: 10%;
    font-size: 150%; 
    font-weight: 500;   
}

h3{
  font-size: 150%;  
}


.input-feed{
    background-color: rgb(221, 216, 216);
    color: black;
    height: 10vh;
    width: 40vw;
    border-radius: 10px;
    border: 200%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2%;
}
.feedback{
    margin-top: 20%;
    font-size: 150%;
}

.input-feed {
    border: none; 
    color: black; 
    font-family: 'Kumbh Sans', sans-serif;
  }
  

  ::placeholder {
    color: black;
  }

  .input-feed::-webkit-input-placeholder {
    color: black;
    font-size: 2vh;
  }
  
  .input-feed::-moz-placeholder {
    color: black;
  }
  
  .input-feed:-ms-input-placeholder {
    color: black;
  }