.container1 {
  display:flex;
  height: 97vh;
  overflow-y: hidden;
}

.main-content {
  height: 97vh;
  width: 75.7vw;
  overflow-y: hidden;
}

.execution-board {
  position: relative;
  width: 100%;
  height: 10vh;
  font-family: 'Kumbh Sans', sans-serif;
  margin-left: 0vw;
  margin-bottom: 0%;
  margin-top: 0%;
}

.execution-board h1 {
  color: #305E7E;
  margin-left: 0vw;
  font-size: 2.3vw;
  margin-bottom: 0%;
  margin-top: 0%;
}

.execution-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 62vh;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  margin-bottom: 0%;
  margin-top: 0%;
}

.messages {
  background-color: white;
  border-radius: 5px;
  width: 93%;
  margin-bottom: 0%;
  overflow-y: scroll;
  height: 60vh;
  position: relative;
  margin-top: 0%;
}

select {
  width: 15vw;
  height: 4vh;
  padding: 1%;
  font-size: 80%;
  margin-left: 5vw;
  margin-right: 3vw;
  border-radius: 8px;
  margin-bottom: 0%;
  margin-top: 0%;
  border: 1px solid #a9a9a9;
  background-color: white;
  color: #082247;
  font-family: 'Kumbh Sans', sans-serif;
}

select option {
  font-size: 90%;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 0%;
  margin-top: 0%;
}

.dropdown-header {
  display: block;
  padding: 10px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: white;
  color: #082247;
  cursor: pointer;
}

.scroll {
  height: 51.6vh;
  overflow-y: auto;
  width: 100%;
  margin-top: 50px;
}

.executions {
  width: 50%;
  height: 100%;
}

.execution {
  background-color: #a6a7a8;
  height: 20%;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  color: black;
  font-family: 'Kumbh Sans', sans-serif;
  margin-top: 5%;
}

.execution .description {
  margin-left: 7%;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: x-large;
}

.my {
  border-right: 1px solid black;
  color: white;
}

.my h2 {
  background-color: #082247;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 34px;
  font-weight: 450;
}

.DIO h2 {
  background-color: #58BADA;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 34px;
  font-weight: 450;
}

.DIO2 h2 {
  background-color: #58BADA;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 34px;
  font-weight: 450;
}

h2 {
  color: white;
  background-color: #082247;
  margin: 0px;
  padding: 5px;
  height: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
}

h1 {
  text-align: center;
  color: #082247;
  font-size: xx-large;
}
.fini {
  background-color: #58BADA;
}

.fini2 {
  background-color: #58BADA;
}

.acceptbutton {
  background-color: #082247;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  margin: 5px;
  border: 1px solid black;
  background-color: #aad9db;
}


.buttons-container {
  position: relative;
  bottom: 0px;
  left: 0px;
}

.buttons-container .deadline {
  margin-left: 50%;
  font-size: 80%;
}

.buttons-container button {
  background-color: #DDC7C7;
  margin-left: 5%;
  margin-top: 3%;
  height: 5vh;
}

.thanks-button {
  background-color: #ddc7c7;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  margin: 5px;
  border: 1px solid black;
}

.evaluation-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgb(211, 208, 208);
  border-radius: 20px;
  width: 50%;
  height: 20%;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
  color: black;
}

.evaluation-textarea .placeholder {
  color: black;
  align-items: left;
  font-size: 2vw;
}

.evaluation-button1 {
  background-color: #a8d5e2;
  border: none;
  border-radius: 25px;
  color: black;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  width: 30%;
  margin-left: 50%;
}

.evaluation-button-ceoreview {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 70%;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  width: 50%;
  background-color: #8bc4d0;
}

.evaluation-button-ceoreview:hover {
  background-color: #8bc4d0;
}

.evaluation-container h1 {
  margin-top: 20vh;
  font-size: 43px;
  font-weight: 500;
  color: black;
  margin-bottom: 10vh;
  text-align: center;
}

.evaluation-container p {
  font-size: 30px;
  color: black;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.evaluation-container input ::placeholder {
  color: black;
}

.evaluation-container input  {
  width: 50vw;
}


.evaluation-container p:last-child {
  font-size: 35px;
  font-weight: bold;
}

.evaluation-container1 h1 {
  margin-top: 30vh;
  font-size: 45px;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.evaluation-container1 p {
  font-size: 35px;
  color: #555;
  text-align: center;
  margin-bottom: 10px;
}

.evaluation-container1 p:last-child {
  font-size: 35px;
  font-weight: bold;
}

.review-container {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #f7f7f7;
  border-radius: 20px;
  width: 120vh;
  height: 80vh;
  margin: 0 auto;
}

.peer-review-container {
  margin-top: 15vh;
}

.peer-review-container > *:not(:last-child) {
  margin-bottom: 12vh;
}

.rating-section {
  align-items: center;
  justify-content: center;
}

.rating-section p,
.rating-section div {
  align-items: center;
  justify-content: center;
}

.task1 {
  background-color: lightblue;
  padding: 2px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statuss {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: #b9b9b9;
  font-family: "Kumbh Sans";
  margin-right: 10px;
}

.scroll {
  margin-top: 50px;
  height: 430px;
  overflow-y: auto;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  width: 1px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #696969;
}

.result {
  font-family: 'Kumbh Sans', sans-serif;
  display: "flex";
  margin-bottom: 10vh;
  top: 9vh;
  font-weight: 800;
  font-size: 150%;
  background-color: transparent;
}

.question {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 10%;
}

.righthand_ceoevaluation {
  margin-right: 3vw;
  margin-left: 1vw;
  width: 7vw;
  height: 12vh;
  margin-top: 10vh;
}

.lefthand_ceoevaluation {
  margin-left: 12vw;
  margin-right: 1vw;
  width: 7vw;
  height: 12vh;
  margin-top: 10vh;
}

.backtofeed-button_ceoevaluation {
  background-color: #92C5BB;
  border: none;
  border-radius: 2.5vh;
  color: black;
  cursor: pointer;
  font-size: 150%;
  font-weight: 500;
  width: 20vw;
  height: 8vh;
  font-family: 'Kumbh Sans', sans-serif;
  margin-top: 15vh;
}
