.App {
  display: flex;
  overflow-y: hidden;
  height: 97vh;
}

.main-content {
  height: 97vh;
  width: 75.7vw;
  overflow-y: hidden;
}

.logo-bar {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
}

.messaging-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 63vh;
  margin-left: 2.2vw;
  margin-right: 2.2vw;
  background-color: white;
  margin-bottom: 0%;
}

.messages {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0%;
  height: 60vh;
  margin-right: 0vw;
  position: relative;
  margin-top: 0%;
}

.deadline-diopage {
  background-color: #5CB7BB66;
  border-radius: 15px;
  padding: 10px;
  margin: 3px;
  margin-bottom: 0.2vh;
  color: black;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 80%;
  display: flex;
  margin-right: 1%;
  height: 3vh;
}

.profile {
  height: 4vh;
  margin-bottom: 0.2vh;
  margin-top: 0.2vh;
}

.description-diopage {
  background-color: #474E5426;
  border-radius: 15px;
  margin: 20px;
  margin-bottom: 3vh;
  padding: 30px;
  color: black;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  width: 40vw;
}

.performer {
  font-size: 75%;
  height: 3vh;
}

.statut-dead {
  margin-right: 1%;
  margin-left: 1%;
  height: 24vh;
}

.exe-description {
  height: 24vh;
  margin-right: 1%;
  margin-left: 4%;
  width: 50vw;
}

.message.button {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  color: rgb(0, 0, 0);
  position: relative;
}

::placeholder {
  color: rgb(210, 210, 210);
}

.scroll {
  margin-top: 40px;
  height: 51vh;
  overflow-y: auto;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  background-color: gray;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #696969;
}

.h1 {
  text-align: center;
  color: white;
  font-size: xx-large;
  justify-content: center;
  margin: 1%;
}

.logo-bar h1 {
  color: #305e7e;
  margin-left: 5vw;
  font-size: 2.2vw;
}

h1,
.thanks {
  margin: 2px;
}

.thanks {
  display: flex;
  align-items: center;
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 60px;
  color: #305e7e;
}

.symbole {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.barre-reche input {
  font-family: 'Kumbh Sans';
  width: 30vw;
  height: 4vh;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 8px;
  color: #305e7e;
  margin-bottom: 1vh;
  margin-top: 0px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.barre-reche::after {
  content: '\1F50D';
  position: absolute;
  top: 45%;
  left: 63vw;
  transform: translateY(-50%);
  color: #888;
  filter: grayscale(100%);
  cursor: pointer;
}

.barre-reche input::placeholder {
  color: #888;
  left: 0.5vw;
  position: absolute;
  top: 15%;
  font-size: 1.2vw;
}
