.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attributionFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
  margin: auto;
}
.attributionFields h2{
  background-color: transparent;
  color: black;
  font-family: 'Kumbh Sans', sans-serif;
}

.textfield {
  width: 450px;
  height: 45px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 12px;
  border: none;
  background-color: #92c5bb;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-size: 20px; 
  color: white;
}
input::placeholder {
  font-family: 'Kumbh Sans', sans-serif; 
  font-size: 20px;
  color: white; 
  text-align: center;

}


.next{
  font-size: 1.6vw; 
  padding: 2px 2px;
  background-color: transparent;
  border: none; 
  cursor: pointer;
  color: black; 
}

.next:hover {
  color: black; 
  background-color: transparent; 
}


.next2{
  font-size: 20px; 
  padding: 2px 2px;
  background-color: transparent; 
  border: none;
  cursor: pointer;
  color: black;
  margin-bottom: 10px;
  margin-top: 100px;
}

.next2:hover {
  color: black; 
  background-color: transparent;
}