.input-container {
    position: relative;
    background-color:  #082247;
    padding: 1%;
    margin-left: 30px;
    margin-right: 30px;
    height: 11vh;
    margin-bottom: 0%;

  }

  .input-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:  #5CB7BBA3;
    padding: 0.5%; 
    width: 90%;
    height: 5.05vh;
    border-radius: 20px;
    margin: auto;
  }
  .input-submit ::placeholder{
    font-size: 1.5vw;
  }

  .message-input {
    flex-grow: 2;
    padding: 1%; 
    background-color: transparent; 
    color: white; 
    border: none;
    font-size: large;
    outline: none; 
  }

  .send-button {
    width: 18%;
    height: 3.8vh;
    padding: 0.5%;
    font-size: 1vw; 
    border: none; 
    background-color: white; 
    color: black; 
    cursor: pointer; 
    border-radius: 40px;
    font-weight: bold;
    align-items: center;
  }
  
  .send-button:hover{
    background-color: gray;
    color: black;
  }
  