@import url('https:\/\/fonts.googleapis.com\/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

.dio-list {
  width: 90%; 
  margin: auto;
  font-family: "Kumbh Sans";
}

.dio-item {
  background-color: white;
  padding: 5px; 
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Kumbh Sans";
}

.dio-text {
  width: 50vw;
  font-size: 1.5vw;
  font-family: "Kumbh Sans";
  font-weight: 500;
}

.dio-text h3 {
  font-weight: 500;
  font-size: 2vw;
}

.participate-button {
  width: 13vw;
  padding: 1vh 1.5vw;
  font-size: 2vw;
  border: none;
  background-color: blue;
  color: black;
  cursor: pointer;
  border-radius: 4vw;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans";
  background-color: #aad9db;
}

.participate-button:hover {
  background-color: darkblue;
}

.dio-item h3 {
  font-size: 2.5vw;
}
