
.messaging-container {
    position: relative;
    bottom: 0;
    width: 90%;
    height: 80%;
    border-radius: 20px; 
    background-color: #f0f0f0;
}

.messages {
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 10px;
    flex-direction: column; 
    align-items: flex-start;
}

.message {
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: blue;
    color: white;
}

.input-container {
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    height: 50%;
    margin-right: 10px;
    border-radius: 20px;
}

.send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: blue;
    color: white;
}
