

.sidebarhome {
    background-color: rgb(0, 88, 139);
    color: white;
    width: 20vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
}

.image_bar {
    position: relative;
    width: 170px;
    height: 130px;
}

.sidebarhome-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    background-color: transparent; 
    border: none; 
    color: white; 
    cursor: pointer; 
    font-size: 18px; 
    transition: background-color 0.3s;
    font-family: 'Kumbh Sans', sans-serif; 
    width: 20vw;   
    overflow: hidden;
}

.sidebar-section link {
  border-bottom: none;
  font-size: 20%;
  width: 20vw; 
  flex-grow: 1;
  display: flex;
  background-color: transparent; 
  border: none; 
  color: white; 
  cursor: pointer; 
  transition: background-color 0.3s;
  font-family: 'Kumbh Sans', sans-serif;
  width: 20vw;   
  background-color: #63798a;
  overflow: hidden;
}

.sidebarhome-section:hover {
    background-color: grey; 
    color: white; 
}

.sidebarhome:hover {
  background-color: grey; 
  color: white; 
}

.sidebarhome-section:last-child {
    border-bottom: none;
}

.sidebar-section:first-child {
  height: 150px; 
}

.sidebar-section.espace {
  flex-grow: 5; 
}

.sidebar-section a {
  color: inherit; 
  text-decoration: none; 
}

.sidebar-section a:visited {
  color: inherit; 
}

.sidebar-section a:hover {
  color: inherit; 
}

.sidebar-section a:active {
  color: inherit; 
}
