.wallet-item {
  font-family: "Kumbh Sans";
  width: 46.25vw;
  height: 4.8vh;
  margin-left: 10vw;
  border-radius: 84px;
  background-color: white; /* Espace à l'intérieur des rectangles */
  margin-bottom: 1vh;
  margin-top: 0px; /* Espace entre les rectangles */
  border: 1px solid #ccc; /* Bordure autour des rectangles */
  border-radius: 20px; /* Coins arrondis */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wallet-item h4{
  width: 40%;
  margin-left: 10%;
}

/* Flexbox styles for row containers */
.row-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  margin-top: 1.4vh; /* Adjust margin as needed */
  margin-left: 9vw;
  margin-right: 9.2vw;
  height: 4.8vh;
}

.symbole_th {
  width: 2vh; /* largeur de l'image */
  height: 2.4vh; /* hauteur de l'image */
  margin-left: 0.5vw; /* espace entre le texte "0" et l'image */
}


.row-item {
  background-color: white;
  width: 12.8vw; /* Adjust width as needed */
  height: 4.8vh;
  border: 1px solid #ccc; /* Example border */
  padding: 10px; /* Example padding */
  box-sizing: border-box; /* Adjust box-sizing as needed */
  margin-left: 1.5vw;
  text-align: center;
  font-family: "Kumbh Sans";
  margin-left: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


.wallet-list {
  width: 56.25vw; /* Fixer la largeur à 90% de la largeur du parent */
  margin-bottom: 3vh;
  font-family: "Kumbh Sans";
  display: flex;
  height: 10vh;
   /* Ajustez selon vos besoins */
}

/* Style pour chaque wallet */


.wallet-text {
  width: 70%;
  font-size: 20px;
  font-family: "Kumbh Sans";
  font-weight: 500;
   /* Ajustez la valeur en fonction de vos besoins */
}

.participate-button {
  width: 25vh;
  padding: 15px 20px;
  font-size: 30px; /* Ajustez la taille de la police si nécessaire */
  border: none; /* Pour supprimer la bordure par défaut des boutons */
  background-color: blue; /* Pour changer la couleur de fond du bouton */
  color: black; /* Pour changer la couleur du texte du bouton */
  cursor: pointer; /* Pour changer le curseur en main lorsque vous survolez le bouton */
  border-radius: 40px; /* Pour avoir des coins arrondis sur le bouton */
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans";
  background-color: #aad9db;
}

.participate-button:hover {
  background-color: darkblue;
}

.wallet-item h3 {
  font-size: 35px; /* Ou la taille que vous souhaitez */
}

.arrow-button {
  font-size: 20px; /* Increase the font size for a bigger arrow */
  padding: 2px;
  margin-right: 5vw;
  background-color: transparent; /* Transparent background */
  border: none; /* Remove the border */
  cursor: pointer;
  color: black; /* Color of the arrow */
}
.arrow-button:hover {
  color: black; /* Change the color on hover (replace 'red' with your desired color) */
  background-color: transparent; /* Ensuring the background stays transparent on hover */
}