.wallet-list {
  width: 56.25vw;
  margin-bottom: 1.5vh;
  font-family: "Kumbh Sans";
  display: flex;
  height: 10vh;
  margin-top: 1.5vh;
}

.wallet-item {
  font-family: "Kumbh Sans";
  width: 46.25vw;
  height: 4.8vh;
  margin-left: 10vw;
  border-radius: 84px;
  background-color: white;
  margin-bottom: 1vh;
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wallet-item h4{
  width: 100%;
  font-size: 1.15vw;
}

.row-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  margin-left: 9vw;
  margin-right: 9.2vw;
  height: 4.8vh;
}

.row-item {
  background-color: white;
  width: 12.8vw;
  height: 4.8vh;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 1.5vw;
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 1.2vw;
  margin-left: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.symbole_th {
  width: 2vh;
  height: 2.4vh;
  margin-left: 0.5vw;
}

.wallet-list h4{
  margin-top: 1.5vh;
  margin-bottom: 0vh;
}

.arrow-button {
  font-size: 3vh;
  padding: 2px;
  margin-right: 5vw;
  margin-top: 1.5vh;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}

.arrow-button:hover {
  color: black;
  background-color: transparent;
}
