.scenario-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.scenario-table th,
.scenario-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.scenario-table th {
    background-color: #f2f2f2;
}

.scenario-table input {
    margin-right: 5px;
}