
.App {
  display: flex;

}
.main-content {
  flex-grow: 1;
  background-color: #b7d6ed;
  width: 70%;
}

.logo-bar {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 80px; 
}

.logo {
  font-size: 36px;
  font-weight: bold; 
  color: #333;
}

.titre {
  font-size: 28px;
  text-align: left;
  margin: 60px; 
  color: #666;

  border-bottom: 1px solid white; 
  padding-bottom: 10px; 
  margin-bottom: 50px; 
}


.DIOList-container {
  margin-left: 20px; 
}


.DIO-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
}
