.back-to-home-button {
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}